.set-location {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: var(--bg-color-gray-300);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  z-index: 5;
  box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1),
    0px 8px 15px -1px rgba(10, 10, 10, 0.5);
}
.set-location.isClose {
  animation: disappear 0.4s ease-in-out forwards;
}
@keyframes disappear {
  0% {
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  100% {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0;
    opacity: 0;
  }
}
.set-location.isOpen {
  animation: appear 0.4s ease-in-out forwards;
}
@keyframes appear {
  0% {
    height: 0;
  }
  100% {
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 1;
  }
}

.set-location_form {
  display: flex;
}
.set-location_form-item {
  display: inline-block;
  height: 40px;
  border: none;
  background-color: var(--bg-color-white);
  font-size: 18px;
  font-weight: var(--fw-light);
}
.set-location_form_input {
  width: 300px;
  padding: 0 1em;
  border-radius: 40px;
}
.set-location_form_input:focus {
  outline: none;
}
.set-location_form_submit {
  position: relative;
  left: -40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bg-color-white);
}
.set-location_form_submit:hover {
  transition: 0.4s;
  background-color: var(--bg-color-gray-500);
}
.set-location_location-options {
  margin-bottom: 15px;
}
.set-location_location-options_category {
  color: var(--text-color-white);
  font-weight: var(--fw-light);
}
.location-card {
  position: relative;
  width: 99% !important;
  margin: 0 auto 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--bg-color-white);
  border-radius: 10px;
  box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1),
    0px 2px 5px 0px rgba(10, 10, 10, 0.5);
}
.location-card:hover {
  box-shadow: none;
  transition: 0.3s;
}
.location-card-text {
  margin: 0 0 3px 0;
  font-weight: var(--fw-light);
  letter-spacing: -0.03em;
}
.location-card-city {
  font-size: 18px;
}
.location-card-country {
  font-size: 14px;
}
.location-card_icon-trash-can {
  position: absolute;
  top: 16px;
  right: 28px;
  filter: invert(48%) sepia(37%) saturate(15%) hue-rotate(345deg)
    brightness(90%) contrast(91%);
  transition: 0.5s;
}
.location-card_icon-trash-can:hover {
  animation: vibration 0.5s ease forwards;
}
@keyframes vibration {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}
.saved-location {
  height: 300px;
  overflow: scroll;
}
.set-location_location-options_saved {
  position: sticky;
  top: 0;
  background-color: var(--bg-color-gray-300);
}
