*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  --text-color-white: #fff;

  --bg-color-gray-700: #464646;
  --bg-color-gray-500: #616161;
  --bg-color-orange-500: #f98317;

  --border-color-blue: #4965f9;
  --border-color-orange: #f98317;
  --border-color-gray: #c4c4c4;

  --fw-light: 300;
  --fw-bold: 700;
}

.app {
  width: 645px;
  margin: 30px auto;
  font-family: "Roboto", sans-serif;
}

.outer {
  padding: 0 28px;
}
.location-name {
  font-size: 24px;
  font-weight: var(--fw-light);
  letter-spacing: -0.03em;
}
